header {
  height: 7vh;
  padding: 10px;
  font-size: 1.5em;
  background: darkgray;

  a:-webkit-any-link {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-family: Helvetica;
  }
}

.app-content {
  display: block;

  .main-page {
    width: 100%;
    display: block;
    float: left;
    min-height: 80vh;

    .catalog-container {
      float: left;
      display: block;
      min-height: 80vh;
      background: #2a3b8b;
      color: white;

      .add-catalog {
        height: 6vh;
        padding: 10px;
        color: black;

        .add-cat-button {
          margin-left: 10px;
        }
      }

      .catalog-table {
        tbody {
          tr:hover {
            color: black;
          }
        }
      }
    }

    .note-list {
      float: left;
      display: block;
      min-height: 80vh;
      background: #b0c7e6;

      .note-list-header {
        height: 6vh;
        background: lightgray;
        padding: 10px;

        .add-note-container {
          text-align: right;
        }
      }

      table {
        width: 100%;
        margin: 10px;
      }
    }

    .note-list-placeholder {
      float: left;
      display: block;
      min-height: 80vh;
      background: #b0c7e6;
      text-align: center;
      font-size: 1.5em;
      color: white;
      padding: 10vh;
    }
  }

  .note-view {
    width: 100%;
    display: block;
    float: left;
    min-height: 80vh;
    background: #b0c7e6;

    .note-view-header {
      height: 6vh;
      background: lightgray;
      text-align: right;
      padding: 10px 20px;

      .cancel-button {
        margin-right: 30px;
      }

    }

    .title-row {
      height: 6vh;
      margin-top: 20px;
      padding: 20px;

      .title-name {
        font-size: 1.3em;
      }

    }

    .content-row {
      height: 68vh;
      padding: 20px;

      .note-content {
        height: 90%;
        width: 100%;
      }
    }
  }

  .glyphicon:hover {
    cursor: hand;
  }

  button {
    text-decoration: none;
    color: black;

    :hover {
      cursor: hand;
    }
  }
}

footer {
  background: darkgray;
  color: white;
  padding: 20px;
  height: 7vh;
  font-size: 1.1em;
}